<div>
    <img src="https://www.treehugger.com/thmb/qr-dUTuL-MEOskpBn45yof2qpPk=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__mnn__images__2010__01__shutterstock_1017158344-dda6757c19e1419dafba44e1e2ed6bb9.jpg" width="600" style="vertical-align:middle;margin:0px 250px">
    <h1 align="center">Welcome to Bear Park!</h1>
</div>